<% include ../partials/header%>
<div class='container'>
    <h1 class='text-center mt-5'>Login</h1>
    <form action='/login' method='post'>
        <div class='row mt-4'>
            <div class='col-4'></div>
            <div class='col-4'>
                <input class='form-control' type='text'  name='username' placeholder='username'>
            </div>
        </div>
        <div class='row mt-2'>
            <div class='col-4'></div>
            <div class='col-4'>
                <input class='form-control' type='password' name='password' placeholder='password'>
            </div>
        </div>
        <div class='row mt-2'>
            <div class='col-4'></div>
            <div class='col-4'>
                <button class='mt-2 btn btn-lg btn-block btn-primary'>Login</button>
                <a href='/campgrounds'>Back</a>
            </div>
        </div>
    </form>
</div>
<% include ../partials/footer%>