<!DOCTYPE html>
<html>
    <head>
        <title>YelpCamp</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Trocchi" rel="stylesheet">
        <link rel="stylesheet"   href='/stylesheets/main.css'>
        </head>
<body>
    
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/campgrounds">YelpCamp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
        <div class="navbar-nav  ">
            <%if(!currentUser){ %>
            <a class="nav-item nav-link" href="/register">Sign up</a>
            <a class="nav-item nav-link" href="/login">Login</a>
            <% } else { %>
            <a class="nav-item nav-link">Hello <%= currentUser.username %></a>
            <a class="nav-item nav-link" href="/logout">log out</a>
            <% } %>
        </div>
    </div>
</nav>

<div class='container flash-animation mt-1'>
    <% if (success && success.length >0) { %>
        <div class='alert alert-success'> <%= success %></div>
    <% } %>
    <% if (error && error.length >0) { %>
        <div class='alert alert-danger'> <%= error %></div>
    <% } %>
</div>