<!DOCTYPE html>
<html>
    <head>
        <title>YelpCamp</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        <link rel="stylesheet"   href='/stylesheets/main.css'>
        <link href="https://fonts.googleapis.com/css?family=Trocchi" rel="stylesheet">
        </head>
<body>
    

<div class='landing text-center'>
    <h1 class='display-4'>Welcome to YelpCamp</h1>
    <a href='/campgrounds' class='btn btn-success btn-lg mt-4'>View Campgrounds</a>
</div>

<ul class='slideshow'>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
</ul>



<% include partials/footer %>